html {
    scroll-behavior: smooth;
}
body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin: 0 auto;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(154, 152, 255);
    border-width: 5px;
    width: 10%;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #66BFBF;
}

h2 {
    font-weight: normal;
    color: #156767;

}

.top-container {display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EAF6F6;
    text-align: center;

}

.top-cloud {
    width: 15%;
    padding-left: 20%;
    padding-top:20px;
    
}
   /* position: relative;
    top: 20px;
    left: 100px;*/


.bottom-cloud {
    padding-right:20%;
    
}
   /* position: absolute;
    left: 550px
*/

.profile {display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;

   /* text-align: center;
    padding-top: 0px;*/
}

.profile a:hover {
    color: crimson;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* text-align: center;
    margin: 0 auto;*/
}

/* text-align: center;
    padding-top: 10px;
    margin: 0 auto; */

.list {
    display: flex;
    flex-direction: column;
    line-height: 1.5;


    /*padding-right: 50px; 
   list-style-type: none;
    margin: 0 auto;*/
}

.work-exp {
    text-align: center;

}

.work {
    display: flex;
    justify-content: center;

    /*text-align: center;
    margin:0 auto;*/
}

.work a:hover {
    color: crimson;
}

.skills {
    text-align: center;
}

.skill-list {
    display: flex;
    justify-content: center;
}

.hobbies {
    text-align: center;
}

.hobbie-list {
    list-style-type: none;
    padding-right: 50px;
    line-height: 1.5;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    background: #3498db;
    border-radius: 28px;
    border:darkred;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.btn a {
     color:white;
    text-decoration: none;
}
.btn:hover {
    background: #3cb0fd;
    
}
.bottom-container {
    background-color: #66BFBF;
    text-align: center;
    padding-top: 10px;

}
.bottom-container a {
    text-decoration: none;
    padding: 20px;
}
.bottom-container a:hover {
    transform: scale(1.5);
    text-shadow: 0px 0px 5px #cffc93;
}
.name {
    color: white;
    padding-bottom: 10px;
}
